[mysqld]
# Hiba napló
log_error=/var/log/mysql/error.log

# Általános napló
general_log_file=/var/log/mysql/general.log
general_log = 1

# Lassú lekérdezés napló
slow_query_log = 1
slow_query_log_file=/var/log/mysql/slow_query.log
long_query_time = 5


socket = /run/mysqld/mysqld.sock